#!/bin/sh

#######################################################
#
#  Purpose:     Sets install variables.
#
#######################################################


# Specifies the PME ID (UUID) of this machine.
tunnelPort=$(netstat -ldn | egrep ":6672 ")
if [ -f /etc/vmware-tools/GuestProxyData/VmVcUuid/vm.vc.uuid -a "$tunnelPort" != "" ]; then
   export CAF_REACTIVE_REQUEST_AMQP_QUEUEID=$(cat /etc/vmware-tools/GuestProxyData/VmVcUuid/vm.vc.uuid)-agentId1
   export CAF_PME_ID=$CAF_REACTIVE_REQUEST_AMQP_QUEUEID
   export CAF_COMMAMQPLISTENER_CONTEXT=@configDir@/CommAmqpListener-context-tunnel.xml
   export CAF_BROKER_ADDRESS=localhost
   export CAF_CA_CERT=/etc/vmware-tools/GuestProxyData/server/cert.pem
else
   export CAF_REACTIVE_REQUEST_AMQP_QUEUEID=@pmeId@
   export CAF_PME_ID=$CAF_REACTIVE_REQUEST_AMQP_QUEUEID
   export CAF_COMMAMQPLISTENER_CONTEXT=@configDir@/CommAmqpListener-context-amqp.xml
   # Specifies the hostname or IP4 address of the RabbitMQ broker handling
   # communication between the application server and this PME.
   export CAF_BROKER_ADDRESS=@brokerAddr@
   export CAF_CA_CERT="@inputDir@/certs/cacert.pem"
fi

# Specifies where python is located.
export CAF_PYTHON_DIR=/opt/vmware/caf/python

# Substitute @binDir@ for the value passed in during install
# Maps to 'bin' in the build output
export CAF_BIN_DIR="@binDir@"

# Substitute @libDir@ for the value passed in during install
# Maps to 'lib' in the build output
export CAF_LIB_DIR="@libDir@"

# Substitute @configDir@ for the value passed in during install
# Maps to 'config' in the build output
export CAF_CONFIG_DIR="@configDir@"

# Substitute @inputDir@ for the value passed in during install
# Maps to 'data/input' in the build output
export CAF_INPUT_DIR="@inputDir@"

# Substitute @outputDir@ for the value passed in during install
# No mapping in the build output since the output files are created at run-time
export CAF_OUTPUT_DIR="@outputDir@"

# Substitute @invokersDir@ for the value passed in during install
# Maps to 'invokers' in the build output - Used by the internal providers
export CAF_INVOKERS_DIR="@invokersDir@"

# Substitute @providersDir@ for the value passed in during install
# Maps to 'providers' in the build output - Used by the internal providers
export CAF_PROVIDERS_DIR="@providersDir@"

# Substitute @logDir@ for the value passed in during install
# No mapping in the build output since the log files are created at run-time
export CAF_LOG_DIR="@logDir@"
